/* latin-ext */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local("Niconne"), local("Niconne-Regular"), url(https://fonts.gstatic.com/s/niconne/v9/w8gaH2QvRug1_rTfnQKn2W4O.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local("Niconne"), local("Niconne-Regular"), url(https://fonts.gstatic.com/s/niconne/v9/w8gaH2QvRug1_rTfnQyn2Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
body {
  font-size: 14px;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #343a40; }

a {
  text-decoration: none !important; }

a:hover, a:focus, a:visisted {
  text-decoration: none !important; }

.btn-primary {
  color: #FFF;
  background-color: #0283c8;
  border-color: #0283c8; }

.btn-primary:hover {
  color: #FFF;
  background-color: #007065;
  border-color: #00635a; }

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5);
  box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5); }

.btn-primary.disabled,
.btn-primary:disabled {
  color: #FFF;
  background-color: #0283c8;
  border-color: #0283c8; }

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #FFF;
  background-color: #00635a;
  border-color: #00564e; }

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5);
  box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.5); }

.btn-outline-primary {
  color: #0283c8;
  border-color: #0283c8; }

.btn-outline-primary:hover {
  color: #FFF;
  background-color: #0283c8;
  border-color: #0283c8; }

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5); }

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #0283c8;
  background-color: transparent; }

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #FFF;
  background-color: #0283c8;
  border-color: #0283c8; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5); }

.badge-primary {
  color: #FFF;
  background-color: #0283c8; }

a.badge-primary:hover,
a.badge-primary:focus {
  color: #FFF;
  background-color: #00635a; }

a.badge-primary:focus,
a.badge-primary.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.5); }

.alert-primary {
  color: #004e47;
  background-color: #cceae7;
  border-color: #b8e2de; }

.alert-primary hr {
  border-top-color: #a6dbd6; }

.alert-primary .alert-link {
  color: #001b19; }

.list-group-item-primary {
  color: #004e47;
  background-color: #b8e2de; }

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
  color: #004e47;
  background-color: #a6dbd6; }

.list-group-item-primary.list-group-item-action.active {
  color: #FFF;
  background-color: #004e47;
  border-color: #004e47; }

.bg-primary {
  background-color: #0283c8 !important; }

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #00635a !important; }

.border-primary {
  border-color: #0283c8 !important; }

.text-primary {
  color: #0283c8 !important; }

a.text-primary:hover,
a.text-primary:focus {
  color: #004a43 !important; }

.widget-small.primary {
  background-color: #0283c8; }

.widget-small.primary.coloured-icon {
  background-color: #fff;
  color: #2a2a2a; }

.widget-small.primary.coloured-icon .icon {
  background-color: #0283c8;
  color: #fff; }

.select-disable {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.app-content .app-title {
  padding: 12px 20px;
  margin-bottom: 20px; }
  .app-content .app-title h1 {
    font-size: 1.3rem; }
.app-content .tile {
  padding: 10px;
  margin-bottom: 1rem; }
  .app-content .tile .tile-title {
    background: #0283c8 url(../images/title.png) no-repeat right top;
    background-size: auto 100%;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 10px;
    margin: -10px -10px 15px; }
  .app-content .tile thead tr th {
    border-top: none; }
  .app-content .tile thead th:first-child {
    border-left: 0; }
  .app-content .tile thead th:last-of-type {
    border-right-color: crimson; }
  .app-content .tile thead tr {
    background: #0283c8 url(../images/title.png);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    text-transform: uppercase;
    font-weight: normal; }
  .app-content .tile thead th {
    white-space: nowrap;
    text-align: center;
    font-weight: normal; }
  .app-content .tile td {
    display: table-cell;
    vertical-align: middle; }
.app-content .label-status, .app-content .label-status-success, .app-content .label-status-secondary, .app-content .label-status-warning, .app-content .label-status-info {
  border: 0.2rem solid;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.15rem 0.15rem;
  display: inline-block;
  min-width: 80px;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
.app-content .label-status-success {
  background-color: #51cf66;
  border-color: #8ce99a; }
.app-content .label-status-secondary {
  background-color: #868e96;
  border-color: #ced4da; }
.app-content .label-status-warning {
  background-color: #ffd43b;
  border-color: #fcc419; }
.app-content .label-status-info {
  background-color: #4dabf7;
  border-color: #74c0fc; }
.app-content .label-status-info:hover,
.app-content .label-status-info:focus {
  background-color: #1c7ed6;
  border-color: #1c7ed6; }
.app-content .btn-sm {
  border-radius: 2px;
  padding: 0.15rem 0.45rem; }
.app-content .pagination-wrapper {
  width: 100%; }
  .app-content .pagination-wrapper .page-item .page-link {
    padding: 0.35rem 0.55rem;
    border-radius: 0;
    border: 1px solid #dee2e6; }
.app-content .modal-custom .modal-header {
  background: #0283c8 url(../images/title.png) no-repeat right top;
  background-size: auto 100%; }
.app-content .modal-custom .modal-body {
  max-height: calc(80vh);
  overflow-x: auto; }

#content-table table {
  margin-bottom: 0; }
  #content-table table th {
    padding: 0.5rem; }
  #content-table table td {
    padding: 0.25rem; }

/*# sourceMappingURL=stylesheet.css.map */
